<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/phone.css" media="screen and (max-width:{{responsive.b1}})">
  <link rel="stylesheet" type="text/css" href="css/tablet.css" media="screen and (min-width:{{responsive.b1}}) and (max-width:{{responsive.b2}})">
  <link rel="stylesheet" type="text/css" href="css/desktop.css" media="screen and (min-width:{{responsive.b2}}) and (max-width:{{responsive.b3}})">
  <link rel="stylesheet" type="text/css" href="css/hdscreen.css" media="screen and (min-width:{{responsive.b3}})">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>{{titre}}</title>
  <meta name="description" content="{{description}}">
</head>
<body>
